In [58]:
## Importing libraries
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

In [59]:
## Data Cleaning
# Get energy dummy
sample_data = pd.read_csv('../data/cleaned_data.csv',encoding='utf-16')
df = pd.DataFrame(sample_data)
df['energy'] = df['energy'].str.replace('Energimærke ', '')
df['energy'] = df['energy'].str.replace('A2015','A')
df['energy'] = df['energy'].str.replace('A2020','A')
dummy_energy = pd.get_dummies(df['energy'])
df = pd.concat([df,dummy_energy],axis=1)

# Change constructing year to construction age

df['age'] = 2023 - df['year']

df

,price,address,city,type,saledays,energy,living_space,ground_space,rooms,owner_expenses,...,Villa,Villa/Fritidsbolig,A,B,C,D,E,F,G,age
0,4890000,Stengårdsvænge 85,Københavns omegn,Villa,0.0,C,81,301,4.0,3614.0,...,1,0,0,0,1,0,0,0,0,68.0
1,695000,"Vestergade 4, 2. tv.",Sydjylland,Ejerlejlighed,127.0,C,90,304,3.0,1198.0,...,0,0,0,0,1,0,0,0,0,123.0
2,4998000,Horns Rev 27,Sydjylland,Villa,0.0,E,151,4714,5.0,5464.0,...,1,0,0,0,0,0,1,0,0,38.0
3,2995000,Nøddehøj 226,Nordsjælland,Rækkehus,0.0,B,90,211,3.0,2902.0,...,0,0,0,1,0,0,0,0,0,30.0
4,10950000,Skovbakkevej 24,Nordjylland,Villa,0.0,D,248,926,6.0,5710.0,...,1,0,0,0,0,1,0,0,0,129.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,4295000,Dalgasgade 5,Vestjylland,Villa,3.0,C,220,655,6.0,2548.0,...,1,0,0,0,1,0,0,0,0,99.0
432,849000,Suhrs Gade 15,Vest- og Sydsjælland,Villa/Fritidsbolig,3.0,C,170,552,7.0,1850.0,...,0,1,0,0,1,0,0,0,0,98.0
433,1250000,Borgergade 89,Vest- og Sydsjælland,Villa,3.0,F,132,892,4.0,2598.0,...,1,0,0,0,0,0,0,1,0,45.0
434,1775000,Polarvej 2,Sydjylland,Villa,3.0,C,120,1621,3.0,2904.0,...,1,0,0,0,1,0,0,0,0,37.0
435,3495000,"Lundebjerggårdsvej 1E, st. tv.",Københavns omegn,Ejerlejlighed,3.0,B,110,4241,3.0,3254.0,...,0,0,0,1,0,0,0,0,0,17.0

In [60]:
## Dataset split
columns_to_drop = ['price','address','city','type','energy', 'year','area_name']
X,y = df.drop(columns_to_drop,axis=1),df.price
test_size = 0.30 # taking 70:30 training and test set
seed = 17082023 # Random number seeding for repeatability of the code
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

In [61]:
## Main model
eta = 0.1
gradient_booster = HistGradientBoostingClassifier(learning_rate=eta)
# Gradient boosting classifiers are required to implement gradient boosting.
gradient_booster.fit(X_train,y_train)
y_test_predict = gradient_booster.predict(X_test)
print(classification_report(y_test,y_test_predict))
# Use the Python module named classification report to verify the correctness and quality of the accuracy report ().

              precision    recall  f1-score   support

      295000       0.00      0.00      0.00         0
      395000       0.00      0.00      0.00         1
      430000       0.00      0.00      0.00         0
      495000       0.00      0.00      0.00         1
      550000       0.00      0.00      0.00         0
      625000       0.00      0.00      0.00         1
      795000       0.00      0.00      0.00         1
      798000       0.00      0.00      0.00         1
      825000       0.00      0.00      0.00         1
      849000       0.00      0.00      0.00         1
      895000       0.00      0.00      0.00         0
      975000       0.00      0.00      0.00         0
      995000       0.00      0.00      0.00         1
      998000       0.00      0.00      0.00         0
     1085000       0.00      0.00      0.00         1
     1095000       0.00      0.00      0.00         2
     1098000       1.00      1.00      1.00         1
     1125000       0.00      0.00      0.00         1
     1148000       0.00      0.00      0.00         1
     1150000       1.00      0.50      0.67         2
     1175000       0.00      0.00      0.00         1
     1195000       0.00      0.00      0.00         4
     1225000       0.00      0.00      0.00         1
     1245000       0.00      0.00      0.00         0
     1250000       0.00      0.00      0.00         2
     1295000       0.00      0.00      0.00         1
     1345000       0.00      0.00      0.00         0
     1395000       0.00      0.00      0.00         0
     1425000       0.00      0.00      0.00         2
     1448000       0.00      0.00      0.00         1
     1495000       0.00      0.00      0.00         3
     1498000       0.00      0.00      0.00         1
     1575000       0.00      0.00      0.00         1
     1595000       0.09      0.25      0.13         4
     1685000       0.00      0.00      0.00         1
     1695000       0.00      0.00      0.00         3
     1748000       1.00      1.00      1.00         2
     1775000       0.00      0.00      0.00         0
     1795000       0.00      0.00      0.00         2
     1845000       0.00      0.00      0.00         0
     1895000       0.00      0.00      0.00         1
     1950000       0.00      0.00      0.00         0
     1985000       0.00      0.00      0.00         1
     1995000       0.00      0.00      0.00         2
     2095000       0.00      0.00      0.00         0
     2145000       1.00      1.00      1.00         2
     2175000       0.00      0.00      0.00         1
     2195000       0.00      0.00      0.00         2
     2395000       0.00      0.00      0.00         2
     2495000       0.50      0.50      0.50         4
     2575000       0.00      0.00      0.00         0
     2595000       0.00      0.00      0.00         2
     2645000       0.00      0.00      0.00         1
     2695000       0.00      0.00      0.00         1
     2745000       0.00      0.00      0.00         2
     2795000       1.00      1.00      1.00         1
     2799000       0.00      0.00      0.00         1
     2850000       0.00      0.00      0.00         0
     2895000       0.00      0.00      0.00         2
     2995000       0.00      0.00      0.00         5
     3195000       0.00      0.00      0.00         2
     3250000       0.00      0.00      0.00         1
     3295000       0.00      0.00      0.00         0
     3395000       0.00      0.00      0.00         2
     3398000       0.00      0.00      0.00         1
     3495000       0.00      0.00      0.00         3
     3595000       1.00      1.00      1.00         1
     3598000       0.00      0.00      0.00         1
     3665000       0.00      0.00      0.00         1
     3895000       0.00      0.00      0.00         1
     3945000       1.00      0.50      0.67         2
     3995000       0.14      0.50      0.22         2
     4095000       0.00      0.00      0.00         1
     4195000       0.00      0.00      0.00         1
     4250000       0.00      0.00      0.00         0
     4295000       0.00      0.00      0.00         2
     4350000       0.00      0.00      0.00         1
     4395000       0.00      0.00      0.00         1
     4495000       1.00      0.50      0.67         2
     4695000       0.00      0.00      0.00         1
     4700000       0.00      0.00      0.00         1
     4798000       0.00      0.00      0.00         0
     4890000       0.00      0.00      0.00         1
     4950000       1.00      1.00      1.00         1
     4995000       1.00      0.33      0.50         3
     5195000       0.00      0.00      0.00         1
     5250000       0.00      0.00      0.00         1
     5295000       0.00      0.00      0.00         1
     5395000       0.00      0.00      0.00         1
     5495000       0.00      0.00      0.00         1
     5500000       0.00      0.00      0.00         0
     5600000       0.00      0.00      0.00         1
     5798000       0.00      0.00      0.00         1
     5995000       0.00      0.00      0.00         1
     5998000       1.00      0.33      0.50         3
     6195000       0.50      1.00      0.67         1
     6495000       0.00      0.00      0.00         1
     6595000       0.00      0.00      0.00         0
     6995000       0.00      0.00      0.00         1
     7475000       0.00      0.00      0.00         1
     7495000       0.00      0.00      0.00         0
     7500000       0.50      1.00      0.67         1
     7750000       0.00      0.00      0.00         0
     8200000       0.00      0.00      0.00         1
     8495000       0.00      0.00      0.00         1
     8995000       0.00      0.00      0.00         1
     9250000       0.00      0.00      0.00         0
     9495000       0.00      0.00      0.00         1
    12500000       1.00      1.00      1.00         1
    13000000       0.00      0.00      0.00         0
    13500000       0.00      0.00      0.00         1
    17800000       0.00      0.00      0.00         1
    19995000       0.00      0.00      0.00         0
    27000000       0.00      0.00      0.00         1

    accuracy                           0.15       131
   macro avg       0.12      0.11      0.11       131
weighted avg       0.19      0.15      0.16       131

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [62]:
## Root mean squared errors
rmse_GBM = mse(y_test,y_test_predict,squared=False)
rmse_GBM

2102903.2748098774

In [64]:
## R-squared
r2_GBM = r2_score(y_test,y_test_predict)
r2_GBM

0.5979514033937828